body{
  background: #EEEEEE;
}

.h1{
  color: black;
  font-family: Monospace;
}
.h2{
  font-family: Monospace;
}
.h3{
  font-family: Monospace;
}
.p2{
  font-family: Monospace;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  font-family: monospace;
}

.button {
  font-family: monospace;
}
.button1{
  font-family: monospace;
}


